@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function chatModel(name, message) {
                var self = this;
                self.name = name;
                self.message = message;
            }

            function user(name) {
                var self = this;

                self.name = name;
            }

            function addMessage(message) {
                if (vm.messages().length > 10) {
                    vm.messages.shift();
                }
                vm.messages.push(message);
            }

            function handleMessageSubmit() {
                var message = $("#chat-input").val();
                if (message && message.length > 0) {
                    hub.server.submitMessage(message);
                    $("#chat-input").val(null);
                }
            }

            var vm = {
                messages: ko.observableArray([]),
                users: ko.observableArray([])
            };
            ko.applyBindings(vm);

            var hub = $.connection.lobby;
            hub.client.addMessage = function (name, message) {
                addMessage(new chatModel(name, message));
            };
            hub.client.addUsers = function (names) {
                $.each(names, function (index, name) {
                    vm.users.push(new user(name));
                });
            };
            hub.client.removeUser = function (name) {
                console.log('Removing user ' + name);

                var userToRemove = null;
                $.each(vm.users(), function (index, user) {
                    if (user.name == name) {
                        userToRemove = user;
                    }
                });
                if (userToRemove) {
                    vm.users.remove(userToRemove);
                }
            };

            $.connection.hub.start().done(function () {
                $("#submit").removeAttr('disabled');
                $("#chat-input").removeAttr('disabled');
            });

            $("#submit").click(handleMessageSubmit);
            $("#chat-input").on("keypress", function (e) {
                if (e.keyCode == 13) {
                    handleMessageSubmit();
                    return false;
                }
            });
        });
    </script>
}

<div class="row-fluid">
    <h3 class="span12">Tic-Tac-Toe</h3>
</div>
<div class="row-fluid">
    <!-- ko foreach: users -->
    <span class="span3" data-bind="text: name"></span>
    <!-- /ko -->
</div>
<hr />
<!-- ko foreach: messages -->
<div class="row-fluid">
    <span class="span3" data-bind="text: name"></span>
    <p class="span9" data-bind="text: message"></p>
</div>
<!-- /ko -->

<div class="row-fluid">
    <input class="span10" type="text" id="chat-input" disabled="disabled" />
    <input class="span2 pull-right" type="submit" value="Submit" id="submit" style="margin-bottom: 10px" disabled="disabled" accesskey="return"/>
</div>