@section styles{
    @Styles.Render("~/bundles/Content/zocial")
}

@{
    ViewBag.Title = "Log In";
}

<section class="social" id="socialLoginForm">
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
