{% extends 'template.html' %}

{% block content %}
<form class="form-horizontal" method="post">
    <legend>{{ user.displayName }}</legend>
    <div class="control-group">
        <label class="control-label" for="displayName">Display Name:</label>
        <div class="controls">
            <input type="text" name="displayName" value="{{ user.displayName }}"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn" value="Update"></input>
            <input type="hidden" name="_csrf" value="{{ token }}"></input>
        </div>
    </div>
</form>
{% endblock %}